<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Dashboard</title>
    <div th:insert="~{common-admin/head::head}"></div>
</head>
<body class="  ">
<!-- loader Start -->
<div id="loading">
    <div id="loading-center">
    </div>
</div>
<!-- loader END -->
<!-- Wrapper Start -->
<div class="wrapper">

    <div th:insert="~{common-admin/sidebar::sidebar}"></div>

    <div th:insert="~{common-admin/header::header}"></div>

    <!-- Day se duoc custom neu co -->
    <div th:insert="~{common-admin/content::content}"></div>
    
</div>
<!-- Wrapper End-->

<div th:insert="~{common-admin/footer::footer}"></div>

<div th:insert="~{common-admin/script::script}"></div>
</body>
</html>