<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:insert="~{common-user/head :: head}"></div>
    <title th:text="${pageTitle}"></title>
</head>
<body>
<div th:insert="~{common-user/header :: header}"></div>
<div th:insert="~{common-user/content :: background}"></div>
<div th:insert="~{common-user/content :: category-area}"></div>
<!--Start Sale Product Area-->
<div class="axil-product-area bg-color-white axil-section-gap">
    <div class="container">
        <div class="section-title-wrapper">
            <span class="title-highlighter highlighter-primary">
                <i class="far fa-shopping-basket"></i> Our Products
            </span>
            <h2 class="title">Explorer our store products</h2>
        </div>
        <div class="explore-product-activation slick-layout-wrapper
                    slick-layout-wrapper--15
                    axil-slick-layout arrow-top-slide">
            <div class="slick-single-layout">
                <div class="row row--15">
                    <div class="col-xl-3 col-lg-4 col-sm-6 col-12 mb-30"
                         th:each="product : ${products}">
                        <div class="axil-product product-style-one">
                            <div class="thumbnail">
                                <a th:href="@{/user/products/detail-product/id(id=${product.id})}">
                                    <img data-sal="zoom-out" data-sal-delay="200" data-sal-duration="800" loading="lazy"
                                         class="main-img" th:src="@{'/uploads/'+${product.thumbnail}}"
                                         alt="Product Images">
                                    <img class="hover-img" src="assets/images/product/electric/product-08.png"
                                         alt="Product Images">
                                </a>
                                <div class="label-block label-right">
                                    <div class="product-badget">20% off</div>
                                </div>
                                <div class="product-hover-action">
                                    <ul class="cart-action">
                                        <li class="quickview"><a href="#" data-bs-toggle="modal"
                                                                 data-bs-target="#quick-view-modal"><i
                                                class="far fa-eye"></i></a></li>
                                        <li class="select-option">
                                            <a th:href="@{/user/product/add-to-card}">
                                                Add to Cart
                                            </a>
                                        </li>
                                        <li class="wishlist"><a href="wishlist.html"><i class="far fa-heart"></i></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <!--Feedback-->
                            <div class="product-content">
                                <div class="inner">
                                    <div class="product-rating">
                                        <span class="icon">
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                        </span>
                                        <span class="rating-number">(64)</span>
                                        <div>
                                            <h5 class="title">
                                                <a th:href="@{/user/product/add-to-card}"
                                                   th:text="${product.name}"></a>
                                            </h5>
                                            <div class="product-price-variant">
                                                <span class="price current-price"
                                                      th:text="${product.price}"></span>
                                                <span class="price old-price"
                                                      th:text="${product.price+100000}"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--End Sale Product Area-->

<div th:insert="~{common-user/footer :: footer}"></div>
<div th:insert="~{common-user/script :: script}"></div>
</body>
</html>