.cart-action li.select-option .add-to-cart-btn {
    position: relative;
    height: 40px;
    line-height: 39px;
    padding: 0 18px;
    display: block;
    border-radius: 4px;
    font-weight: 700;
    font-size: 14px;
    color: var(--color-white);
    background-color: var(--color-secondary);
    transition: .3s;
    box-shadow: 0 16px 32px 0 rgba(0, 0, 0, .06);
    position: relative;
    z-index: 1;
    border: none;
    cursor: pointer;
}

.axil-product .cart-action li.select-option .add-to-cart-btn:before {
    content: "";
    height: 100%;
    width: 100%;
    background-color: var(--color-secondary);
    border-radius: 4px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
    transition: transform .5s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.axil-product .cart-action li.select-option .add-to-cart-btn:hover {
    background-color: var(--color-secondary);
    color: var(--color-white);
}

.axil-product .cart-action li.select-option .add-to-cart-btn:hover:before {
    transform: scale(1.1);
}

/* Đam bảo danh sách các trang nằm trên cùng một hàng*/
.custom-pagination ul {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;
}

.custom-pagination ul li {
    margin: 0 5px;
}

.custom-pagination ul li a {
    text-decoration: none;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    line-height: 40px;
    border: 1px solid #ccc;
    border-radius: 50%;
    color: #333;
    background: #f9f9f9;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.custom-pagination ul li a:first-child,
.custom-pagination ul li a:last-child {
    border-radius: 5px;
}

.custom-pagination ul li a.active {
    background-color: #add8e6;
    color: white;
    font-weight: bold;
}

.custom-pagination ul li a:hover {
    background-color: #ddd;
    color: #000;
}

.custom-pagination .previous,
.custom-pagination .next {
    width: 70px;
    height: 40px;
    text-align: center;
}

.empty-notification {
    text-align: center;
    margin: 50px 0;
    padding: 20px;
    background: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.empty-notification img {
    width: 150px;
    margin-bottom: 20px;
}

.empty-notification h2 {
    font-size: 24px;
    color: #333;
    margin-bottom: 10px;
}

.empty-notification p {
    font-size: 16px;
    color: #666;
    margin-bottom: 20px;
}

.empty-notification .btn {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    background: #007bff;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background 0.3s ease;
}

.empty-notification .btn:hover {
    background: #0056b3;
}