<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head">
    <title th:text="${pageTitle}">Title</title>
</head>
<body>
<div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
     data-sidebar-position="fixed" data-header-position="fixed">
    <div th:replace="fragments/sidebar :: sidebar"></div>
    <!--Main wrapped-->
    <div class="body-wrapper">

    </div>
</div>

<div th:replace="fragments/scripts :: scripts"></div>
</body>
</html>