<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:insert="~{common-user/head :: head}"></div>
    <title th:text="${pageTitle}"></title>
</head>
<body>
<div th:insert="~{common-user/header :: header}"></div>
<div th:insert="~{common-user/content :: background}"></div>
<div th:insert="~{common-user/content :: category-area}"></div>
<!--Start Sale Product Area-->
<div class="axil-product-area bg-color-white axil-section-gap">
    <div class="container">
        <div class="section-title-wrapper">
            <span class="title-highlighter highlighter-primary">
                <i class="far fa-shopping-basket"></i> Our Products
            </span>
            <h2 class="title">Explorer our store products</h2>
        </div>
    </div>
</div>
<!--End Sale Product Area-->

<div th:insert="~{common-user/footer :: footer}"></div>
<div th:insert="~{common-user/script :: script}"></div>
</body>
</html>