<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${pageTitle}"></title>
    <div th:insert="~{fragments/head :: head}"></div>
    <script type="text/javascript">
        function showError(message) {
            if (message) {
                alert(message)
            }
        }
    </script>
</head>
<body>
<div class="container mt-5">
    <div class="row">
        <div class="col-md-8 mx-auto rounded border p-4 m-4">
            <h2>Create new product</h2>
            <form action="/admin/products/create" method="post" enctype="multipart/form-data"
                  th:object="${productDTO}">
                <div class="mb-3">
                    <label for="name" class="form-label">Product Name</label>
                    <input type="text" class="form-control" id="name" th:field="*{name}">
                    <span th:if="${#fields.hasErrors('name')}" th:errorclass="text-danger"
                          th:errors="*{name}"></span>
                </div>
                <div class="mb-3">
                    <label for="price" class="form-label">Price</label>
                    <input type="number" class="form-control" id="price" th:field="*{price}">
                    <span th:if="${#fields.hasErrors('price')}" th:errorclass="text-danger"
                          th:errors="*{price}"></span>
                </div>
                <div class="mb-3">
                    <label for="description" class="form-label">Description</label>
                    <input type="text" class="form-control" id="description" th:field="*{description}">
                    <span th:if="${#fields.hasErrors('description')}" th:errorclass="text-danger"
                          th:errors="*{description}"></span>
                </div>
                <div class="mb-3">
                    <label for="ram" class="form-label">Ram Type</label>
                    <input type="text" class="form-control" id="ram" th:field="*{ram}">
                    <span th:if="${#fields.hasErrors('ram')}" th:errorclass="text-danger"
                          th:errors="*{ram}"></span>
                </div>
                <div class="mb-3">
                    <label for="quantity" class="form-label">Quantities</label>
                    <input type="number" class="form-control" id="quantity" th:field="*{quantity}">
                    <span th:if="${#fields.hasErrors('quantity')}" th:errorclass="text-danger"
                          th:errors="${productDTO.quantity}"></span>
                </div>
                <div class="mb-3">
                    <label for="batteryCapacity" class="form-label">Battery
                        Capacity</label>
                    <input type="text" class="form-control" id="batteryCapacity" th:field="*{batteryCapacity}">
                    <span th:if="${#fields.hasErrors('batteryCapacity')}" th:errorclass="text-danger"
                          th:errors="*{batteryCapacity}"></span>
                </div>
                <div class="mb-3">
                    <label class="form-label">Monitor</label>
                    <input type="text" class="form-control" th:field="*{graphicCard}">
                    <span th:if="${#fields.hasErrors('graphicCard')}" th:errorclass="text-danger"
                          th:errors="*{graphicCard}"></span>
                </div>
                <div class="mb-3">
                    <label class="form-label">Hard Driver</label>
                    <input type="text" class="form-control" th:field="*{hardDrive}">
                    <span th:if="${#fields.hasErrors('hardDrive')}" th:errorclass="text-danger"
                          th:errors="*{hardDrive}"></span>
                </div>
                <div class="mb-3">
                    <label class="form-label">Screen Technology</label>
                    <input type="text" class="form-control" th:field="*{screenTechnology}">
                    <span th:if="${#fields.hasErrors('screenTechnology')}" th:errorclass="text-danger"
                          th:errors="*{screenTechnology}"></span>
                </div>
                <div class="mb-3">
                    <label class="form-label">Port</label>
                    <input type="text" class="form-control" th:field="*{ports}">
                    <span th:if="${#fields.hasErrors('ports')}" th:errorclass="text-danger"
                          th:errors="*{ports}"></span>
                </div>
                <div class="mb-3">
                    <label class="form-label">CPU</label>
                    <input type="text" class="form-control" th:field="*{cpu}">
                    <span th:if="${#fields.hasErrors('cpu')}" th:errorclass="text-danger"
                          th:errors="*{cpu}"></span>
                </div>
                <div class="mb-3">
                    <label for="brandId" class="form-label">Brand</label>
                    <select id="brandId" name="brandId" class="form-select" required>
                        <option selected disabled>-- Choose brand --</option>
                        <option
                                th:each="brand : ${brandsList}"
                                th:value="${brand.id}"
                                th:text="${brand.name}"></option>
                    </select>
                </div>
                <div class="mb-3">
                    <label for="categoryId" class="form-label">Category</label>
                    <select id="categoryId" name="categoryId" class="form-select" required>
                        <option selected disabled>-- Choose category --</option>
                        <option
                                th:each="category : ${categoriesList}"
                                th:value="${category.id}"
                                th:text="${category.name}"></option>
                    </select>
                </div>
                <div class="mb-3">
                    <label for="file" class="form-label">Image</label>
                    <input id="file" class="form-control" type="file"
                           th:field="*{fileImage}" required>
                </div>

                <div class="row">
                    <button class="col-md-6 btn btn-primary mx-3" style="width: 300px;">
                        Create product
                    </button>
                    <a th:href="@{/templates/admin/product}" class="col-md-6 btn btn-secondary mx-3">Cancel</a>
                </div>
            </form>
        </div>
        <div class="col-md-4 rounded border mx-3">

        </div>
    </div>
</div>

<!-- Gọi hàm JavaScript hiển thị lỗi nếu có -->
<script type="text/javascript">
    /* Thêm thuộc tính th:text vào thẻ span để lấy thông báo lỗi từ Model */
    let errorMessage = /*[[${errorMessage}]]*/ '';
    showError(errorMessage);
</script>

</body>
</html>