<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head">
    <title th:text="${pageTitle}"></title>
    <script type="text/javascript">
        function showError(message) {
            if (message) {
                alert(message)
            }
        }
    </script>
</head>
<body>
<div class="container mt-5">
    <div class="row">
        <div class="col-md-8 mx-auto rounded border p-4 m-4">
            <h2>Update product</h2>
            <form th:action="@{/templates/admin/product/update/{id}(id=${product.id})}" method="post"
                  enctype="multipart/form-data"
                  th:object="${productDTO}">
                <div class="row">
                    <div class="col-lg-8">
                        <div class="mb-3">
                            <label for="name" class="form-label">Product Name</label>
                            <input type="text" class="form-control" id="name" th:field="*{name}" required>
                            <span th:if="${#fields.hasErrors('name')}" th:errorclass="text-danger"
                                  th:errors="${productDTO.name}"></span>
                        </div>
                        <div class="mb-3">
                            <label for="price" class="form-label">Price</label>
                            <input type="number" class="form-control" id="price" th:field="*{price}" required>
                            <span th:if="${#fields.hasErrors('price')}" th:errorclass="text-danger"
                                  th:errors="${productDTO.price}"></span>
                        </div>
                        <div class="mb-3">
                            <label for="description" class="form-label"
                            >Description</label>
                            <input type="text" class="form-control" id="description" th:field="*{description}" required>
                            <span th:if="${#fields.hasErrors('description')}" th:errorclass="text-danger"
                                  th:errors="${productDTO.description}"></span>
                        </div>
                        <div class="mb-3">
                            <label for="ram" class="form-label">Ram Type</label>
                            <input type="text" class="form-control" id="ram" th:field="*{ram}">
                            <span th:if="${#fields.hasErrors('ram')}" th:errorclass="text-danger"
                                  th:errors="${productDTO.ram}"></span>
                        </div>
                        <div class="mb-3">
                            <label for="batteryCapacity" class="form-label">Battery
                                Capacity</label>
                            <input type="text" class="form-control" id="batteryCapacity" th:field="*{batteryCapacity}">
                            <span th:if="${#fields.hasErrors('batteryCapacity')}" th:errorclass="text-danger"
                                  th:errors="${productDTO.batteryCapacity}"></span>
                        </div>
                        <div class="mb-3">
                            <label for="monitor" class="form-label">Monitor</label>
                            <input type="text" class="form-control" id="monitor" th:field="*{monitor}">
                            <span th:if="${#fields.hasErrors('monitor')}" th:errorclass="text-danger"
                                  th:errors="${productDTO.monitor}"></span>
                        </div>
                        <div class="mb-3">
                            <label for="quantity" class="form-label">Quantities</label>
                            <input type="text" class="form-control" id="quantity" th:field="*{quantity}">
                            <span th:if="${#fields.hasErrors('quantity')}" th:errorclass="text-danger"
                                  th:errors="${productDTO.quantity}"></span>
                        </div>
                        <div class="mb-3">
                            <label for="brandId" class="form-label">Brand</label>
                            <select id="brandId" th:field="*{brandId}" class="form-control" required>
                                <option value="" disabled>Select a brand</option>
                                <!-- Hiển thị danh sách brand, chọn brand hiện tại của sản phẩm -->
                                <option th:each="brand : ${brandsList}"
                                        th:value="${brand.id}"
                                        th:selected="${brand.id == product.brand.id}"
                                        th:text="${brand.name}"></option>
                            </select>
                        </div>
                        <div class="mb-3">
                            <label for="categoryId" class="form-label">Category</label>
                            <select id="categoryId" th:field="*{categoryId}" class="form-control" required>
                                <option value="" disabled>Select a brand</option>
                                <!-- Hiển thị danh sách brand, chọn brand hiện tại của sản phẩm -->
                                <option th:each="category : ${categoriesList}"
                                        th:value="${category.id}"
                                        th:selected="${category.id == product.brand.id}"
                                        th:text="${category.name}"></option>
                            </select>
                        </div>
                        <div class="mb-3">
                            <label for="file" class="form-label">Image</label>
                            <input id="file" class="form-control" type="file"
                                   name="fileImage">
                            <span th:if="${#fields.hasErrors('fileImage')}" th:errorclass="text-danger"
                                  th:errors="${productDTO.fileImage}"></span>
                        </div>
                        <div class="row">
                            <button class="col-md-6 btn btn-primary mx-3" style="width: 200px; text-align: center">
                                Update product
                            </button>
                            <a th:href="@{/templates/admin/product}" class="col-md-6 btn btn-secondary mx-3"
                               style="width: 200px; text-align: center;">Cancel</a>
                        </div>
                    </div>
                    <div class="col-lg-4 center-block">
                        <h3>Ảnh sản phẩm</h3>
                        <img th:src="@{'/uploads/' + ${product.thumbnail}}" alt="Ảnh sản phẩm"
                             width="200px;" height="200px;">
                    </div>
                </div>

            </form>
        </div>
        <div class="col-md-4 rounded border mx-3">

        </div>
    </div>
</div>

<!-- Gọi hàm JavaScript hiển thị lỗi nếu có -->
<script type="text/javascript">
    /* Thêm thuộc tính th:text vào thẻ span để lấy thông báo lỗi từ Model */
    let errorMessage = /*[[${errorMessage}]]*/ '';
    showError(errorMessage);
</script>
</body>
</html>