<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Laptop Shop || Forgot password</title>
    <div th:insert="~{common-user/head :: head}"></div>
</head>
<body>

<div class="axil-signin-area">

    <div th:insert="common-user/login :: background-signin"></div>

    <div class="row">
        <div class="col-xl-4 col-lg-6">
            <div class="axil-signin-banner bg_image bg_image--10">
                <h3 class="title">We Offer the Best Products</h3>
            </div>
        </div>
        <div class="col-lg-6 offset-xl-2">
            <div class="axil-signin-form-wrap">
                <div class="axil-signin-form">
                    <h3 class="title">Forgot Password?</h3>
                    <p class="b2 mb--55">Enter the email address you used when you joined and we’ll send you
                        instructions to reset your password.</p>
                    <form class="singin-form"
                          method="post"
                    >
                        <div class="form-group">
                            <label>Email</label>
                            <input type="email" class="form-control" name="email"
                                   placeholder="Enter email to get password">
                        </div>
                        <div class="form-group">
                            <button type="submit" class="axil-btn btn-bg-primary submit-btn">Send Reset Instructions
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


<div th:insert="~{common-user/script :: script}"></div>
</body>
</html>