<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:insert="~{common-user/head :: head}"></div>
    <title>Laptop Shop || Login</title>
</head>
<body>
<div class="axil-signin-area">
    <div th:insert="~{common-user/login :: background-signin}"></div>

    <div class="row">
        <div class="col-xl-4 col-lg-6">
            <div class="axil-signin-banner bg_image bg_image--9">
                <h3 class="title">We Offer the Best Products</h3>
            </div>
        </div>
        <div class="col-lg-6 offset-xl-2">
            <div class="axil-signin-form-wrap">
                <div class="axil-signin-form">
                    <h3 class="title">Sign in to Laptop Shop.</h3>
                    <p class="b2 mb--55">Enter your detail below</p>
                    <form class="singin-form" method="post" th:action="@{/login}">
                        <div class="form-group">
                            <label>Phone number</label>
                            <input type="text" class="form-control" name="username"
                                   placeholder="Enter phone number">
                        </div>
                        <div class="form-group">
                            <label>Password</label>
                            <input type="password" class="form-control" name="password"
                                   placeholder="Enter password">
                        </div>
                        <div class="form-group d-flex align-items-center justify-content-between">
                            <button type="submit" class="axil-btn btn-bg-primary submit-btn">Sign In</button>
                            <a th:href="@{/forgot-password}" class="forgot-btn">Forget password?</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<div th:insert="~{common-user/script :: script}"></div>

</body>
</html>