<div th:fragment="head">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Favicon -->
    <link rel="shortcut icon" th:href="@{/admin/assets/images/favicon.ico}"/>
    <link rel="stylesheet" th:href="@{/admin/assets/css/backend-plugin.min.css}">
    <link rel="stylesheet" th:href="@{/admin/assets/css/backend.css?v=1.0.0}">
    <link rel="stylesheet" th:href="@{/admin/assets/css/all.min.css}">
    <link rel="stylesheet" th:href="@{/admin/assets/css/line-awesome.min.css}">
    <link rel="stylesheet" th:href="@{/admin/assets/css/remixicon.css}">
</div>