<div th:fragment="script">
    <!-- Backend Bundle JavaScript -->
    <script th:src="@{/admin/assets/js/backend-bundle.min.js}"></script>

    <!-- Table Treeview JavaScript -->
    <script th:src="@{/admin/assets/js/table-treeview.js}"></script>

    <!-- Chart Custom JavaScript -->
    <script th:src="@{/admin/assets/js/customizer.js}"></script>

    <!-- Chart Custom JavaScript -->
    <script async th:src="@{/admin/assets/js/chart-custom.js}"></script>

    <!-- app JavaScript -->
    <script th:src="@{/admin/assets/js/app.js}"></script>
</div>